body {
    background-color: #1c1c1c;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.menu-container {
    width: 450px;
    height: 500px;

    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.buttonContainer, .buttonContainerStatic {
    display: table;
    width: 300px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #283549;
    border-style:solid;
    border-width: 2px;
    border-color: #4b78bc;
    margin: auto;
    transition-duration: 0.5s;
    height: 50px;
    margin-top: 10px;
    

}

.buttonContainer:hover {
    width: 340px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1e2633;
    border-color: #3f67a3;
}

.buttonContainerStatic:hover {
    background-color: #1e2633;
    border-color: #3f67a3;
}

.button {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    text-decoration: none;
    color: #e3e5e8;
}

.titleImage {
    padding-top: 20px;
    padding-bottom: 0px;
    transition-duration: 0.5s;
}

.titleImage:hover {
    /*filter: drop-shadow(0 0 5px rgba(7, 180, 233, 0.5));*/
    padding-top: 0px;
    padding-bottom: 20px;
}


/*Custom Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #434861;
  border: 0px none #ffffff;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5960aa;
}
::-webkit-scrollbar-thumb:active {
  background: #4e77b6;
}
::-webkit-scrollbar-track {
  background: #1b2121;
  border: 0px none #ffffff;
  border-radius: 1px;
}
::-webkit-scrollbar-track:hover {
  background: #4a4a4a;
}
::-webkit-scrollbar-track:active {
  background: #4b4b4b;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
