#mainWindow {
    position: absolute;
    left: 0;
    height: calc(80% - 20px);
    width: 75%;
}

#queueWindow {
    position: absolute;
  
    height: calc(80% - 20px);
    width: calc(25% - 20px);
    right: 0;
}

#consoleWindow {
    position: absolute;
    left: 0;
    right: 0;
    height: 20%;
    width: 100%;
    bottom: 0;
}

#mainWindow, #queueWindow, #consoleWindow {
    padding: 4px;
}

.consolewiz {
    height: 95%;
}

.arrowImg {
    width: 15px;
    height: 15px;
}

ul, #selectrolList {
    list-style-type: none;
  }
  
  #selectrolList {
    margin: 0;
    padding: 0;
  }
  
  .caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down img{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }

  .extractBtn {
      display: block;
      position: absolute;
      height: 20px;
      float: right;
      right: 0;
      transform: translate(0px, -30px);
  }

  .extractIcon {
    float: right;
  }

  #mainWindow hr{
    border: none;
    border-top: 1px solid #235f91;
  }